<!-- Footer -->
<div class="footer text-muted">
    &copy; 2017. <a href="#">Restorant Web App</a> by <a href="#" target="_blank">Sinan & Gökhan</a>
</div>
<!-- /footer -->

</div>
<!-- /page container -->

</body>
</html>