<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nippy Restorant App</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/minified/core.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/minified/components.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/forms/wizards/stepy.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jasny_bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/validation/validate.min.js"></script>


    <script type="text/javascript" src="assets/js/plugins/extensions/cookie.js"></script>



    <script type="text/javascript" src="assets/js/plugins/ui/prism.min.js"></script>

    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/pages/wizard_stepy.js"></script>

    <script type="text/javascript" src="assets/js/pages/form_input_groups.js"></script>

    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <!-- /theme JS files -->

</head>

<body class="sidebar-xs">

<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">NIPPY</a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-git-compare"></i>
                    <span class="visible-xs-inline-block position-right">Bildirimler</span>
                    <span class="badge bg-warning-400">9</span>
                </a>

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        Git updates
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body width-350">
                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Masa 3 <a href="#">Sinan YILMAZ</a> adlı kişi tarafından check-in yapıldı.
                                <div class="media-annotation">4 dakika önce</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                            </div>

                            <div class="media-body">
                                Add full font overrides for popovers and tooltips
                                <div class="media-annotation">36 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                <div class="media-annotation">2 hours ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                            </div>

                            <div class="media-body">
                                <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                <div class="media-annotation">Dec 18, 18:36</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Have Carousel ignore keyboard events
                                <div class="media-annotation">Dec 12, 05:46</div>
                            </div>
                        </li>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-people"></i>
                    <span class="visible-xs-inline-block position-right">Users</span>
                </a>

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        Online Müşteriler
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-gear"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body width-300">
                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">Sinan YILMAZ</a>
                                <span class="display-block text-muted text-size-small">Masa 3 - 10 Dakika Önce</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">Will Brason</a>
                                <span class="display-block text-muted text-size-small">Masa 4 - 10 Dakika Önce</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-danger"></span></div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">Hanna Walden</a>
                                <span class="display-block text-muted text-size-small">Masa 5 - 10 Dakika Önce</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">Dori Laperriere</a>
                                <span class="display-block text-muted text-size-small">Masa 7 - 10 Dakika Önce</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-warning-300"></span></div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">Vanessa Aurelius</a>
                                <span class="display-block text-muted text-size-small">Masa 5 - 10 Dakika Önce</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-grey-400"></span></div>
                        </li>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="All users"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>
        </ul>

        <p class="navbar-text"><span class="label bg-success-400">Çevrimiçi</span></p>

        <ul class="nav navbar-nav navbar-right">


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-bubbles4"></i>
                    <span class="visible-xs-inline-block position-right">Messages</span>
                    <span class="badge bg-warning-400">2</span>
                </a>

                <div class="dropdown-menu dropdown-content width-350">
                    <div class="dropdown-content-heading">
                        Messages
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-compose"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body">
                        <li class="media">
                            <div class="media-left">
                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                <span class="badge bg-danger-400 media-badge">5</span>
                            </div>

                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">James Alexander</span>
                                    <span class="media-annotation pull-right">04:58</span>
                                </a>

                                <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                <span class="badge bg-danger-400 media-badge">4</span>
                            </div>

                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">Margo Baker</span>
                                    <span class="media-annotation pull-right">12:16</span>
                                </a>

                                <span class="text-muted">That was something he was unable to do because...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">Jeremy Victorino</span>
                                    <span class="media-annotation pull-right">22:48</span>
                                </a>

                                <span class="text-muted">But that would be extremely strained and suspicious...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">Beatrix Diaz</span>
                                    <span class="media-annotation pull-right">Tue</span>
                                </a>

                                <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">Richard Vango</span>
                                    <span class="media-annotation pull-right">Mon</span>
                                </a>

                                <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                            </div>
                        </li>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/placeholder.jpg" alt="">
                    <span> <%= cName %></span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i> Profil</a></li>
                    <li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Mesajlar</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-cog5"></i> Hesap Ayarları</a></li>
                    <li><a href="/cikis"><i class="icon-switch2"></i> Çıkış</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav">
            <li><a href="/"><i class="icon-display4 position-left"></i> Restourant </a></li>
            <li><a href="/"><i class="icon-phone position-left"></i> Telefon Sipariş </a></li>
            <li><a href="/"><i class="icon-puzzle4 position-left"></i>Zaman Tüneli</a></li>

            <li><a href="/"><i class="icon-stars position-left"></i> Müşteriler</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-make-group position-left"></i> Raporlar <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-250">
                    <li class="dropdown-header">Apps</li>
                    <li class="dropdown-submenu">
                        <a href="#"><i class="icon-task"></i> Task manager</a>
                        <ul class="dropdown-menu width-200">
                            <li class="dropdown-header highlight">Options</li>
                            <li><a href="task_manager_grid.html">Task grid</a></li>
                            <li><a href="task_manager_list.html">Task list</a></li>
                            <li><a href="task_manager_detailed.html">Task detailed</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#"><i class="icon-cash3"></i> Invoicing</a>
                        <ul class="dropdown-menu width-200">
                            <li class="dropdown-header highlight">Options</li>
                            <li><a href="invoice_template.html">Invoice template</a></li>
                            <li><a href="invoice_grid.html">Invoice grid</a></li>
                            <li><a href="invoice_archive.html">Invoice archive</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-header">User</li>
                    <li class="dropdown-submenu">
                        <a href="#"><i class="icon-people"></i> User pages</a>
                        <ul class="dropdown-menu width-200">
                            <li class="dropdown-header highlight">Basic</li>
                            <li><a href="user_pages_cards.html">User cards</a></li>
                            <li><a href="user_pages_list.html">User list</a></li>
                            <li class="dropdown-header highlight">Profiles</li>
                            <li><a href="user_pages_profile.html">Simple profile</a></li>
                            <li><a href="user_pages_profile_cover.html">Profile with cover</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#"><i class="icon-user-plus"></i> Login &amp; registration</a>
                        <ul class="dropdown-menu width-200">
                            <li class="dropdown-header highlight">Basic</li>
                            <li><a href="login_simple.html">Simple login</a></li>
                            <li><a href="login_advanced.html">More login info</a></li>
                            <li><a href="login_registration.html">Simple registration</a></li>
                            <li><a href="login_registration_advanced.html">More registration info</a></li>
                            <li class="dropdown-header highlight">Service</li>
                            <li><a href="login_unlock.html">Unlock user</a></li>
                            <li><a href="login_password_recover.html">Reset password</a></li>
                            <li class="dropdown-header highlight">Other</li>
                            <li><a href="login_hide_navbar.html">Hide navbar</a></li>
                            <li><a href="login_transparent.html">Transparent box</a></li>
                            <li><a href="http://ow.ly/XqzNo">Background option</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-header">Kits</li>
                    <li class="dropdown-submenu">
                        <a href="#"><i class="icon-search4"></i> Search</a>
                        <ul class="dropdown-menu width-200">
                            <li class="dropdown-header highlight">Basic</li>
                            <li><a href="search_basic.html">Basic search results</a></li>
                            <li><a href="search_users.html">User search results</a></li>
                            <li class="dropdown-header highlight">Media</li>
                            <li><a href="search_images.html">Image search results</a></li>
                            <li><a href="search_videos.html">Video search results</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#"><i class="icon-images2"></i> Gallery</a>
                        <ul class="dropdown-menu width-200">
                            <li class="dropdown-header highlight">Options</li>
                            <li><a href="gallery_grid.html">Media grid</a></li>
                            <li><a href="gallery_titles.html">Media with titles</a></li>
                            <li><a href="gallery_description.html">Media with description</a></li>
                            <li><a href="gallery_library.html">Media library</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-header">Tools</li>
                    <li class="dropdown-submenu">
                        <a href="#"><i class="icon-lifebuoy"></i> Support</a>
                        <ul class="dropdown-menu width-200">
                            <li class="dropdown-header highlight">Chats</li>
                            <li><a href="support_conversation_layouts.html">Conversation layouts</a></li>
                            <li><a href="support_conversation_options.html">Conversation options</a></li>
                            <li class="dropdown-header highlight">Knowledgebase</li>
                            <li><a href="support_knowledgebase.html">Knowledgebase</a></li>
                            <li><a href="support_faq.html">FAQ page</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#"><i class="icon-warning"></i> Error pages</a>
                        <ul class="dropdown-menu width-200">
                            <li class="dropdown-header highlight">Options</li>
                            <li><a href="error_403.html">Error 403</a></li>
                            <li><a href="error_404.html">Error 404</a></li>
                            <li><a href="error_405.html">Error 405</a></li>
                            <li><a href="error_500.html">Error 500</a></li>
                            <li><a href="error_503.html">Error 503</a></li>
                            <li><a href="error_offline.html">Offline page</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-strategy position-left"></i> Ayarlar <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-200">
                    <li class="dropdown-header">Restorant</li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-grid2"></i> Restorant Bilgileri</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-paragraph-justify3"></i> Menü Ayarları</a>
                    </li>
                    <li class="dropdown-header">Hesap</li>
                    <li><a href="starters/layout_boxed.html"><i class="icon-align-center-horizontal"></i> Hesap Ayarları</a></li>
                    <li><a href="starters/layout_sidebar_sticky.html"><i class="icon-flip-vertical3"></i> Hesap Ekleme</a></li>
                    </li>
                    <li class="dropdown-header">Yetkİ / İzİn</li>
                    <li><a href="starters/layout_boxed.html"><i class="icon-align-center-horizontal"></i> Yetki / İzin Ayarları</a></li>
                    <li><a href="starters/layout_sidebar_sticky.html"><i class="icon-flip-vertical3"></i> Yetki / İzin Oluşturma</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">


        </ul>
    </div>
</div>
<!-- /second navbar -->


